@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* DEFAULT STYLES */
:root {
  --primary-color: #ff42a5;
  --secondary-color: #4ec5f7;
  --title-grad: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --dark-text-color: #534c64;
  --main-font-style: Work Sans;
  --horizontal-padding: 240px;
}

* {
  font-family: var(--main-font-style);
  padding: 0;
  margin: 0;
}

.btn-prim {
  display: flex;
  align-items: center;
  padding: 21px 40px;
  border-radius: 48px;
  background: var(--primary-color);
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.btn-sec {
  display: flex;
  align-items: center;
  padding: 21px 40px;
  border-radius: 48px;
  border: none;
  background: var(--secondary-color);
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.color-prim {
  color: var(--primary-color);
}

.pink-purple-grad {
  background: var(--title-grad);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.section-title {
  color: var(--dark-text-color);
  font-size: 3rem;
  font-weight: 700;
}

.section-desc {
  color: var(--dark-text-color);
  font-family: Work Sans;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
}

/* NAVIGATION STYLES */

nav {
  padding: 0 var(--horizontal-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 37px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo-container h1 {
  font-size: 2.813rem;
  font-weight: 700;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

nav li {
  list-style: none;
  color: var(--dark-text-color);
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
}

nav li a {
  text-decoration: none;
  color: var(--dark-text-color);
}

nav ul li:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 17px 24px;
}

nav ul li:nth-child(3) a {
  display: flex;
  align-items: center;
}

.nav-icons {
  width: 32px;
}

/* BANNER STYLES */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  background-image: url("../images/Group\ 14.png");
  padding: 148px var(--horizontal-padding);
  background-repeat: no-repeat;
}

.banner-content h1 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
}

#goat {
  font-size: 5.938rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.banner-content li {
  color: var(--dark-text-color);
  font-size: 1.25rem;
  font-weight: 500;
  list-style: none;
  margin-bottom: 17px;
}

.banner-content li i {
  margin-right: 16px;
  font-size: 1.5rem;
}

.banner-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}

.banner-img-container {
  margin-right: var(--horizontal-padding);
}

/* ONLINE GAMES STYLES */

.video-section {
  padding: 0 var(--horizontal-padding);
  margin-top: 120px;
}

.video-section > h1 {
  text-align: center;
}

.video-section > p {
  margin-top: 16px;
  margin-bottom: 48px;
  text-align: center;
}

.video-card-container {
  display: flex;
  justify-content: space-between;
}

.video-img {
  position: relative;
  cursor: pointer;
}

.video-play-container {
  position: absolute;
  opacity: 0%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  margin-bottom: 5.5px;
  transition: opacity 0.5s;
}

.video-play-container i {
  margin-bottom: 16px;
  font-size: 2.5rem;
  color: white;
}

.video-play-container p {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 500;
}

.video-desc {
  max-width: 342px;
  margin-top: 24px;
  color: var(--dark-text-color);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 30px;
}

.video-img:hover .video-play-container {
  opacity: 100%;
}

/* PLAY SECTION  */

.play-section {
  margin-top: 120px;
  margin-bottom: 170px;
  padding: 0 var(--horizontal-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-content p {
  max-width: 483px;
  margin-top: 24px;
}

.play-img {
  position: relative;
}

.play-img #img-1 {
  width: 710px;
}

.play-img #img-2 {
  position: absolute;
  bottom: -115px;
  right: -140px;
}

/* CATEGORY SECTION */

.category-section {
  padding: 120px var(--horizontal-padding);
  background: rgba(255, 66, 165, 0.03);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  display: grid;
  gap: 28px;
  grid-template-areas:
    "genre genre genre genre genre"
    "genre genre genre genre genre ";
}

.game-container button {
  grid-area: "genre";
}

.game-container button {
  display: flex;
  align-items: center;
  border-radius: 55px;
  border: 2px solid rgba(255, 66, 165, 0.03);
  background: #fff;
  font-size: 1.15rem;
  font-weight: 600;
  padding: 3px 4px 3px 4px;
  gap: 10px;
  cursor: pointer;
  transition: border-color 0.5s, color 0.5s;
}

.game-container button:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

/* FOOTER SECTION */

footer {
  margin-top: 120px;
  background-color: #0b0223;
  padding: 130px var(--horizontal-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-logo-container h1 {
  font-size: 2.813rem;
  font-weight: 700;
  color: white;
}

.footer-nav-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
  margin-top: 68px;
  margin-bottom: 68px;
  text-align: center;
}

.footer-nav-container a {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
}

.footer-social-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
  margin-bottom: 68px;
}

.footer-social-container a {
  color: #fff;
  font-size: 2.6rem;
  font-weight: 600;
}

.footer-link-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  margin-bottom: 68px;
  text-align: center;
}

.footer-link-container a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

#copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 500;
}
